<form style="display: flex; flex-direction: column;">
  <ion-input label="Email" type="text" label-placement="stacked" fill="outline" placeholder="Digite seu email"></ion-input>
  <ion-input label="Senha" type="password" label-placement="stacked" fill="outline" placeholder="Digite sua senha" style="margin-top: 20px;" #input>
    <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="toggleShow()">
      @if (showPassword) {
        <ion-icon slot="icon-only" name="eye-off-outline" aria-hidden="true"></ion-icon>
      } @else {
        <ion-icon slot="icon-only" name="eye-outline" aria-hidden="true"></ion-icon>
      }
    </ion-button>
  </ion-input>
  <ion-text style="margin-top: 20px; text-align: right;"><a [routerLink]="['/recover/account']">Esqueceu a senha?</a></ion-text>
  <ion-button expand="block" style="margin-top: 20px;" [routerLink]="['/block/account']">Entrar</ion-button>
  <ion-text style="margin-top: 20px; text-align: center;">ou</ion-text>
  <ion-button expand="block" style="margin-top: 20px;" [routerLink]="['/walkthrough']">Entrar com google</ion-button>
  <ion-text style="margin-top: 20px; text-align: center;">Ainda não tem conta?</ion-text>
  <ion-text style="margin-top: 10px; text-align: center;"><a [routerLink]="['/create/account']">Criar conta</a></ion-text>
</form>
